<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springbootvue.dao.BoardDAO">
<!--    게시판 목록-->
    <select id="getBoardList" resultType="com.springbootvue.dto.BoardDTO">
        SELECT *
        FROM board
        ORDER BY
            ifnull(mod_date, reg_date) desc
    </select>

    <!--    게시판 글쓰기-->
    <insert id="addBoard" parameterType="com.springbootvue.dto.BoardDTO">
        INSERT INTO board(writer, title, content, reg_date)
        VALUES(#{writer}, #{title}, #{content}, NOW())
    </insert>

    <!--    게시판 상세보기-->
    <select id="getBoardView" parameterType="int" resultType="com.springbootvue.dto.BoardDTO">
        SELECT *
        FROM board
        WHERE b_id = #{id}
    </select>

    <!--    게시판 삭제 -->
    <delete id="deleteBoard" parameterType="int">
        DELETE
        FROM board
        WHERE b_id = #{id}
    </delete>
</mapper>
