<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springbootvue.dao.NoticeDAO">

    <!--  공지사항 목록 가져오기  -->
    <select id="getNoticeList" resultType="com.springbootvue.dto.NoticeDTO">
        select *
        from
            notice
        order by
            ifnull(mod_date, reg_date) desc
        limit #{startIndex}, #{pageSize}
    </select>

    <!--  공지사항 개수 가져오기  -->
    <select id="getNoticeCnt" resultType="int">
        select count(*)
        from
            notice
    </select>

    <!--  특정 공지사항 가져오기  -->
    <select id="getNoticeInfo" parameterType="int" resultType="com.springbootvue.dto.NoticeDTO">
        select *
        from
            notice
        where
            n_id = #{id}
    </select>

    <!--  공지사항 조회수 증가시키기  -->
    <update id="increaseNoticeViews" parameterType="int">
        update
            notice
        set
            views = views + 1
        where
            n_id = #{id}
    </update>

    <!--  공지사항 삭제하기  -->
    <delete id="deleteNotice">
        delete
        from
            notice
        where
            n_id = #{id}
    </delete>

    <!--  공지사항 등록하기  -->
    <insert id="addNotice" parameterType="com.springbootvue.dto.NoticeDTO">
        insert into notice(title, content, writer, reg_date)
        values (
            #{title},
            #{content},
            #{writer},
            utc_timestamp()
        )
    </insert>

    <!--  공지사항 수정하기  -->
    <update id="editNotice" parameterType="com.springbootvue.dto.NoticeDTO">
        update
            notice
        set
            title = #{title},
            content = #{content},
            mod_date = utc_timestamp()
        where
            n_id = #{id}
    </update>

    <!--  공지사항 nid 가져오기  -->
    <select id="getNoticeNid" resultType="int">
        select max(n_id)
        from
            notice
    </select>
</mapper>
