<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springbootvue.dao.UserDAO"><!--namespace를 통해 UserDAO와 연결합니다. -->
    <!-- 회원정보 -->
    <select id="findByUserId" resultType="com.springbootvue.dto.UserDTO">
        SELECT u.pwd , u.name, r.role_name
        FROM user AS u
            INNER JOIN user_role AS ur
            ON u.u_id = ur.user_id
            INNER JOIN role AS r
            ON r.r_id = ur.role_id
        WHERE u.id = #{id}
    </select>

    <!-- 회원가입 - 회원정보 저장 -->
    <insert id="saveUserInfo">
        INSERT INTO user(id, pwd, name, birth_date, gender, tel, email, reg_date)
        VALUES(#{id}, #{pwd}, #{name}, #{birthDate}, #{gender}, #{tel}, #{email}, utc_timestamp )
    </insert>

    <!-- 회원가입 - 회원 권한 저장 -->
    <insert id="saveUserRole">
        INSERT INTO user_role(user_id, role_id, reg_date)
        VALUES(#{uid}, #{rid}, utc_timestamp )
    </insert>

    <!-- 회원 FK찾기 -->
    <select id="findUserSid" resultType="int">
        SELECT u_id
        FROM user
        WHERE id = #{id}
    </select>

    <!-- 권한 FK찾기 -->
    <select id="findRoleSid" resultType="int">
        SELECT r_id
        FROM role
        WHERE role_name = #{roleName}
    </select>

</mapper>
